body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #28A745;
}

.logo {
    width: 150px;
    height: 50px;
}

.parrafo2 {
    color: #28A745;
}

.formulario {
    background-color: #28A745;
}

.colores {
    color: #fff;
}

.imagen-footer {
    width: 200px;
}

.gray {
    color: #7c8981;
}