body {
    background: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
}

header {
    background: #1e1a13;
}

.header-iguana h1 {
    font-weight: 600;
    font-size: 48px;
}

.iguana-header img {
    width: 100%;
}

.iguana-img {
    width: 480px;
}