body {
    font-family: 'Nunito', sans-serif;
    background: bisque;
}

.navbar {
    height: 70px;
}

.saitama-logo {
    width: 60px;
    border-radius: 50%;
}

.bg-bisque {
    background: bisque;
}

.nav-item .nav-link {
    color: #000;
}

.nav-item .nav-link:hover {
    text-decoration: underline;
    color: rgb(233, 185, 125);
}

.navbar .navbar-toggler {
    border: 2px solid rgb(0, 0, 0);
    color: rgb(69, 64, 64);
}

.navbar-toggler-icon {
    background: url(/assets/img/bars-solid.svg);
}

.hero-section {
    background: url(/assets/img/home-saitama.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-section section {
    padding: 3rem 2rem;
}

.hero-section .content-hero img {
    width: 219px;
    border-radius: 50%;
    margin-right: 499px;
}

.merienda {
    font-family: 'Merienda', cursive;
}

.hero-section .content-hero p {
    color: #241403;
}

.heading-coffee {
    width: 250px;
}

.menu-coffee-container img {
    width: 189px;
}

.menu-coffee-container h3 {
    font-size: 19px;
}